In [45]:
import pandas as pd
names =[
't',
'q1', 'q2', 'q3',
'dq1', 'dq2', 'dq3',
'I1', 'I2', 'I3',
'eps21', 'eps22', 'eps31', 'eps32',
'ddq1', 'ddq2', 'ddq3'
]
# Time (secs)
# Joint angle
# Joint velocity
# Motor current (A)
# Strain measurements
# Joint accelerations
robot_info = pd.read_csv('exp_train.csv', header=None,sep=',',
      names=names, index_col=0)
robot_info.head(6)

            q1      q2      q3  ...          ddq1           ddq2          ddq3
t                               ...
0.00 -0.000007  2.4958 -1.1345  ... -9.904900e-19 -6.210306e-319  4.917400e-27
0.01 -0.000007  2.4958 -1.1345  ...  4.248100e-19 -1.766878e-319 -1.381100e-27
0.02 -0.000007  2.4958 -1.1345  ...  3.233800e-19 -4.990557e-320 -4.117300e-28
0.03 -0.000007  2.4958 -1.1345  ...  1.500500e-19 -1.394253e-320 -1.173100e-28
0.04 -0.000007  2.4958 -1.1345  ...  5.932400e-20 -3.581976e-321 -3.770800e-01
0.05 -0.000007  2.4958 -1.1345  ...  2.164600e-20 -1.141292e-321  2.930300e-01

[6 rows x 16 columns]

In [47]:

#robot_info.loc[3:6]

#house_info[['price',tradetypename']]

#y = robot_info['I2']

#X = robot_info[['q1','q2','q3','dq1', 'dq2', 'dq3','I1',  'I3',
#'eps21', 'eps22', 'eps31', 'eps32',
#'ddq1', 'ddq2', 'ddq3']]

df1 = robot_info
X = np.array(df1[['q2', 'dq2', 
'eps21', 'eps22', 'eps31', 'eps32','ddq2']])
y = np.array(df1['I2'])

print(y)
print(X)

[-0.40812  -0.37241  -0.40302  ...  0.06802   0.011903  0.037411]
[[ 2.4958e+000 -4.9407e-321 -2.6925e+002 ...  3.5918e+000  1.5786e+000
  -6.2103e-319]
 [ 2.4958e+000 -4.9407e-321 -2.7091e+002 ...  1.4585e+000 -1.7398e+000
  -1.7669e-319]
 [ 2.4958e+000 -4.9407e-321 -2.6925e+002 ...  3.5918e+000  8.6753e-001
  -4.9906e-320]
 ...
 [ 1.9659e+000  1.0957e+000 -1.1803e+002 ... -2.0969e+000  3.7119e+000
   8.2264e-001]
 [ 1.9768e+000  1.0913e+000 -1.3320e+002 ... -1.2526e+001 -5.7693e+000
  -8.2050e-002]
 [ 1.9877e+000  1.0899e+000 -1.3557e+002 ... -1.1104e+001 -1.5028e+000
  -1.2559e-001]]

In [48]:
from sklearn import datasets, linear_model
import numpy as np
regr = linear_model.LinearRegression()
regr.fit(X,y)
regr.intercept_

-0.08408083770447804

In [49]:
regr.coef_

array([ 0.06255018,  0.20584896,  0.00118784,  0.00044457, -0.0031362 ,
        0.00603298,  0.05487097])

In [50]:

y_pred = regr.predict(X)
mse = np.mean((y_pred-y)**2)

print("mse ={0:f}".format(mse))

mse =0.010936

test_data

In [51]:
import pandas as pd
names =[
't',
'q1', 'q2', 'q3',
'dq1', 'dq2', 'dq3',
'I1', 'I2', 'I3',
'eps21', 'eps22', 'eps31', 'eps32',
'ddq1', 'ddq2', 'ddq3'
]
# Time (secs)
# Joint angle
# Joint velocity
# Motor current (A)
# Strain measurements
# Joint accelerations
robot_info_1 = pd.read_csv('exp_test.csv', header=None,sep=',',
      names=names, index_col=0)
robot_info_1.head(6)

            q1      q2       q3  ...      ddq1           ddq2      ddq3
t                                ...
0.00 -0.000007  1.9024  0.26063  ... -0.045712  6.210306e-319  1.582900
0.01  0.000013  1.9024  0.26073  ...  0.125580  1.766878e-319  0.414660
0.02 -0.000007  1.9024  0.26086  ... -0.130080  4.990557e-320  0.082286
0.03  0.000013  1.9024  0.26099  ...  0.213010  1.394253e-320  0.190650
0.04 -0.000007  1.9024  0.26110  ... -0.276490  3.581976e-321 -0.170400
0.05 -0.000007  1.9024  0.26124  ...  0.323560  1.141292e-321  0.031745

[6 rows x 16 columns]

In [0]:
#y_test = robot_info_1['I2']

#X_test = robot_info_1[['q1','q2','q3','dq1', 'dq2', 'dq3','I1',  'I3',
#'eps21', 'eps22', 'eps31', 'eps32',
#'ddq1', 'ddq2', 'ddq3']]


df2 = robot_info_1.dropna()

X_test = np.array(df2[['q2', 'dq2', 
'eps21', 'eps22', 'eps31', 'eps32','ddq2']])

y_test= np.array(df2['I2'])

In [53]:
y_pred_1 = regr.predict(X_test)
mse_1 = np.mean((y_pred_1-y_test)**2)

print("mse ={0:f}".format(mse_1))

mse =0.009723